<% include partials/_header %>

<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <a class="btn btn-primary" href="/surveys" role="button">Surveys</a>
            <a class="btn btn-primary" href="/products" role="button">Products</a>
            <a class="btn btn-primary" href="/survey/new" role="button">New Survey</a>
            <a class="btn btn-primary" href="/product/new" role="button">New Product</a>
        </div>
    </div>
</div>

<% include partials/_footer %>